
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.ph{
    padding: 0 170px;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
button{
    border: none;
    padding: 6px 14px;
    background-color:#FB2E86;
}
.logo-text{
    color:#000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
    font-weight:600;
}
.form-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.change-btn{
    background-color: #fff;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
   
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
display: none;
}
/* section{
    padding: 40px 0;
} */